/* HOST ----------------------------------- */
#auction-container {
	flex-grow: 1;
	overflow-y: auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: var(--gap-l);
}

@media only screen and (min-width: 1080px) and (max-width: 1200px) {
	#auction-container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media only screen and (max-width: 1080px) {
	#auction-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* PLACEHOLDER ---------------------------- */
#placeholder-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	background-color: var(--clr-background);
	z-index: 8;
	animation-name: placeholder;
	animation-duration: 400ms;
	animation-delay: 2200ms;
	animation-iteration-count: once;
	animation-fill-mode: forwards;
}

@keyframes placeholder {
	0% {
		opacity: 1;
		z-index: 8;
	}
	99% {
		opacity: 0;
		z-index: 8;
	}
	100% {
		opacity: 0;
		display: none !important;
		z-index: -1;
	}
}

#placeholder-overlay::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url('/public/aura-animation-2.webp');
	background-position: center;
	background-size: auto 100%;
	/* background-size: 12.5%; */
	background-repeat: no-repeat;
	/* mix-blend-mode: luminosity; */
	/* animation-name: u2b-pulse;
	animation-duration: 400ms;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse; */
}

@keyframes u2b-pulse {
	from {
		transform: scale(1) rotate(-2deg);
		filter: blur(4px);
	}
	to {
		transform: scale(1.5) rotate(2deg);
		filter: blur(0);
	}
}
